.container-explore {
  padding: $navbar-height + $border-radius-base 0 $playbar-height 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.pane {
  padding: $padding-large-vertical $padding-large-horizontal;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &.chat-pane {
    @extend .col-md-3;
    padding: 0;
    overflow-y: visible;
    background: lighten($brand-primary, 10%);
    border-right: solid $border-radius-base $brand-primary;
  }
  &.queue-pane {
    @extend .col-md-3;
    border-left: solid $border-radius-base $gray-lighter;
  }

  &.browse-pane {
    @extend .col-md-6;
  }
}